* {
  font-family: 'Comfortaa', cursive;
}

body {
  // background: #d4d4d4;
  background: #5283e8;
}

body,
ul,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
